.top {
    text-align: center;
    /* padding: -1%; */
    background-image: linear-gradient(to bottom, peachpuff,white);
    /* background-color: white; */
    /* background-color: white; */
}
.head {
    background-color: white;
    /* border-bottom: brown 2px solid; */
    /* box-shadow: brown 1px 1px 20px 1px; */
    /* margin-bottom: 0px; */
    /* z-index: 50; */
}
.head a{
    color: black;
    margin: 0px 20px;  
    font-size: 20px;
    /* box-shadow: 2px 2px 20px 2px green; */
    font-weight: 500;  
}


.serv{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    flex-wrap: wrap;
    padding: 5% 0px;
    /* max-width: 1400px; */
}
.serv section{
    width: 40%;
    margin: 2%;
    min-width: 315px;
}
.slid{
    overflow: hidden;
    text-align: center;
    /* background-color: white; */
    padding: 1% 2%;
}
.cont{
    position: relative;
}
.txt {
    padding: 30% 2%;
    position: absolute;
    top: 0px;
    height: 95%;
    border-radius: 3%;
    /* visibility: hidden; */
    color: white;
    /* opacity: 0; */
    margin: 2%;
    background: #b4875c88;
    /* background-color: aqua; */
    transition: 0.6s all;
}
.cont:hover .txt{
    cursor: pointer;
    background: #b4875c;
    /* opacity: 0.8; */
    /* cursor: pointer; */
}
.navbar-light .navbar-toggler {
    /* background-color: white; */

    background-image: url(../Assests/ham.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.footdiv{
    background-image: linear-gradient(to top, peachpuff,white);
}

.utube{
    text-align: center;
    padding: 1%;
    /* background-image: linear-gradient(to bottom, peachpuff,white); */
}
.utube h2{
    padding: 1%;
}

.gal {
    margin: auto;
}
.gal section{
    display: inline;
    position: relative;
}   
.gal img {
    padding: 4px;
    position: relative;
    transition: 0.5s ;
    border-radius: 0%;
    opacity: 0.9;
    /* background-color: black; */
}
.gal section span{
    position: absolute;
    /* background-color: yellow; */
    top: 50%;
    visibility: hidden;
    left: 50%;
}
.gal img:hover {
    transform: scale(1.01);
    opacity: 1;
    cursor: pointer;
}
.headicon {
    position: absolute;
    right: 5%;
}

@media screen and (max-width: 990px) {
    .head img {
        /* right: 10%; */
        left: auto;
    }
    .headicon {
        top: 50%;
    }
}
